@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background: #eef5fe !important;
}
/* Pre css */
.flex {
	display: flex;
	align-items: center;
}

.nav_image {
	display: flex;
	min-width: 55px;
	justify-content: center;
}

.nav_image img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	object-fit: cover;
}

/* Sidebar */
.sidebar {
	z-index: 1;
	height: 100%;
	width: 370px;
	background: #fff;
	padding: 15px 10px;
	transition: all 0.4s ease;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.sidebar.close {
	width: calc(55px + 20px);
}

.logo_items {
	gap: 8px;
}

.logo_name {
	font-size: 22px;
	color: #333;
	font-weight: 500px;
	transition: all 0.3s ease;
}

.sidebar.close .logo_name, .sidebar.close #lock-icon, .sidebar.close #sidebar-close
	{
	opacity: 0;
	pointer-events: none;
}

#lock-icon, #sidebar-close {
	padding: 10px;
	color: var(--color-theme);
	font-size: 25px;
	cursor: pointer;
	margin-left: -4px;
	transition: all 0.3s ease;
}

#sidebar-close {
	display: none;
	color: #333;
}

.menu_container {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	overflow-y: auto;
	height: calc(100% - 82px);
}

.menu_container::-webkit-scrollbar {
	display: none;
}

.menu_title {
	position: relative;
	height: 50px;
}

.menu_title .title {
	margin-left: 15px;
	transition: all 0.3s ease;
}

.sidebar.close .title {
	opacity: 0;
}

.menu_title .line {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	height: 3px;
	width: 20px;
	border-radius: 25px;
	background: #aaa;
	transition: all 0.3s ease;
}

.menu_title .line {
	opacity: 0;
}

.sidebar.close .line {
	opacity: 1;
}

.item {
	list-style: none;
}

.link {
	text-decoration: none;
	border-radius: 8px;
	margin-bottom: 8px;
	color: #707070;
}

.link:hover {
	color: #fff;
	background-color: var(--color-theme);
}

.link span {
	white-space: nowrap;
}

.link i {
	height: 50px;
	min-width: 55px;
	display: flex;
	font-size: 22px;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
}

.container-main {
	display: flex;
	
	flex-direction: column;
	width: -webkit-fill-available;
}

.sidebar_profile {
	padding: 15px 0;
	margin-top: 15px;
	gap: 15px;
	border-top: 2px solid rgba(0, 0, 0, 0.1);
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.sidebar_profile .name {
	font-size: 18px;
	color: #333;
}

.sidebar_profile .email {
	font-size: 15px;
	color: #333;
}

/* Navbar */
.navbar {
	width: 100%;
	background: #fff;
	padding: 10px 20px;
	justify-content: space-between;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	background: var(--color-theme);
	color: white;
}

#sidebar-open {
	font-size: 30px;
	color: #333;
	cursor: pointer;
	margin-right: 20px;
	display: none;
}

.search_box {
	height: 46px;
	max-width: 500px;
	width: 100%;
	border: 1px solid #aaa;
	outline: none;
	border-radius: 8px;
	padding: 0 15px;
	font-size: 18px;
	color: #333;
}

.navbar img {
	height: 40px;
	width: 40px;
	margin-left: 20px;
	cursor: pointer;
	border-radius: 50%;
}

.settings-menu {
	position: absolute;
	width: 90%;
	max-width: 350px;
	background: var(--box-ava);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	border-radius: 4px;
	overflow: hidden;
	top: 70;
	right: 10;
	max-height: 0;
	transition: max-height 0.3s;
}

.settings-menu-height {
	max-height: 450px;
	background: white;
}

.user-profile {
	display: flex;
	color: black;
}

.user-profile a {
	font-size: 12px;
	color: #1876f2;
	text-decoration: none;
}
.settings-menu-inner{
    padding: 20px;
    position: relative;
    z-index: 100;
    background-color: aliceblue;

}

.settings-menu hr {
	border: 0;
	height: 1px;
	background: #9a9a9a;
	margin: 15px 0;
}

.settings-links {
	display: flex;
	align-items: center;
	margin: 15px 0;
}

.settings-links .settings-icon {
	width: 38px;
	margin-right: 10px;
	border-radius: 50%;
}

.settings-links a {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: space-between;
	text-decoration: none;
	color: #626262;
}
/* 
CODE */
.main_content {
	padding: 40px;
	padding-top: 60px;
	overflow-y: scroll;
}