<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<display-name>QLDeTaiNCKH</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>

	</welcome-file-list>

    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
 
    <context-param>
        <param-name>user</param-name>
        <param-value>thoai102pro@gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>pass</param-name>
        <param-value>mkjp tacn vlee woot</param-value>
    </context-param>
	<servlet>
		<servlet-name>DeXuatDeTaiController</servlet-name>
		<servlet-class>Controllers.DeXuatDeTaiController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeXuatDeTaiController</servlet-name>
		<url-pattern>/DeXuatDeTai/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ThemDeTaiController</servlet-name>
		<servlet-class>Controllers.ThemDeTaiController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ThemDeTaiController</servlet-name>
		<url-pattern>/ThemDeTai/*</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>DeTaiDaDangKyController</servlet-name>
		<servlet-class>Controllers.DeTaiDaDangKyController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeTaiDaDangKyController</servlet-name>
		<url-pattern>/DeTaiDaDangKy/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>HandleDownLoad</servlet-name>
		<servlet-class>Controllers.HandleDownLoad</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HandleDownLoad</servlet-name>
		<url-pattern>/download/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>DangKyDeTaiController</servlet-name>
		<servlet-class>Controllers.DangKyDeTaiController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DangKyDeTaiController</servlet-name>
		<url-pattern>/dangkydetai/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>QuanLyDeTaiController</servlet-name>
		<servlet-class>Controllers.QuanLyDeTaiController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuanLyDeTaiController</servlet-name>
		<url-pattern>/quanlydetai/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DuyetDeTaiController</servlet-name>
		<servlet-class>Controllers.DuyetDeTaiController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DuyetDeTaiController</servlet-name>
		<url-pattern>/duyetdetai/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DuyetDeXuatController</servlet-name>
		<servlet-class>Controllers.DuyetDeXuatController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DuyetDeXuatController</servlet-name>
		<url-pattern>/duyetdexuat/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeTaiCuaToiController</servlet-name>
		<servlet-class>Controllers.DeTaiCuaToiController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeTaiCuaToiController</servlet-name>
		<url-pattern>/detaicuatoi/*</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>DoiMatKhauController</servlet-name>
		<servlet-class>Controllers.DoiMatKhauController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoiMatKhauController</servlet-name>
		<url-pattern>/doimatkhau/*</url-pattern>
	</servlet-mapping>
			<servlet>
		<servlet-name>EmailController</servlet-name>
		<servlet-class>Controllers.EmailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmailController</servlet-name>
		<url-pattern>/send-email/*</url-pattern>
	</servlet-mapping>
	<servlet>
        <servlet-name>ThongTinSinhVienController</servlet-name>
        <servlet-class>Controllers.ThongTinSinhVienController</servlet-class>
        <multipart-config>
	        <location>C:\upload_folder</location>
	        <max-file-size>20848820</max-file-size>
	        <max-request-size>418018841</max-request-size>
	        <file-size-threshold>1048576</file-size-threshold>
	    </multipart-config>
    </servlet>
    <servlet>
		<servlet-name>NghiemThuController</servlet-name>
		<servlet-class>Controllers.NghiemThuController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NghiemThuController</servlet-name>
		<url-pattern>/NghiemThu/*</url-pattern>
	</servlet-mapping>
</web-app>